﻿@using Znode.Engine.WebStore.ViewModels

@model List<StoreLocatorViewModel>

<div id="layout-content">
    <div class="col-xs-12 margin-top-bottom nopadding table-responsive store-locator-view">
        <table class="table" id="table-store-list">
            <thead>
                <tr>
                    <th>@WebStore_Resources.TextStoreName</th>
                    <th>@WebStore_Resources.ColumnAddress</th>
                    <th>@WebStore_Resources.LabelPostalCode</th>
                    <th>@WebStore_Resources.TitlePhone</th>
                    <th>@WebStore_Resources.TitleMapLink</th>
                </tr>
            </thead>
            <tbody>
                @foreach (StoreLocatorViewModel store in Model)
                {
                    string DisplayAddress = (string.IsNullOrEmpty(store.Address1) ? "" : $"{store.Address1},") + $"{store.Address2},"  + (string.IsNullOrEmpty(store.Address3) ? "" : $",{store.Address3} ,") + $" {store.CityName}, {store.StateName}";
                    <tr data-distance="0" data-lng="@store.Longitude" data-lat="@store.Latitude" data-title="@store.StoreName" data-address="@DisplayAddress" class="storeLocationCoordinate">
                        <td class="recent-order-title"><span class="recent-order-product">@WebUtility.HtmlDecode(store.StoreName)</span></td>
                        <td class="recent-order-date">@DisplayAddress</td>
                        <td class="recent-order-id"> @store.PostalCode</td>
                        <td class="recent-order-total">@store.PhoneNumber</td>
                        <td class="recent-order-reorder"><a href="#table-store-list"  onclick="showDirectionToStore(this)">@WebStore_Resources.TitleMapLink</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>