﻿@model Znode.Engine.Admin.ViewModels.BlogNewsListViewModel
@using Znode.Engine.Admin.Models
@using Znode.Engine.Admin.Helpers
@{
    ViewBag.Title = Admin_Resources.TitleCMS + " | " + Admin_Resources.Multifront;

   
}
<div id="@Model.GridModel.FrontObjectName">
    @{
        PopupModel publishPopupModel = new PopupModel()
        {
            Title = @Admin_Resources.TitlePublishConfirm,
            Description = @Admin_Resources.PublishStoreConfirmationMessage,
            ModalPopUpId = "PublishBlogNewsPagePopdiv",
            ModalSizeClass = "modal-smd",
            AdditionalNote = string.Format(Admin_Resources.PublishAllLocaleDisclaimerMessage, "blog/news page"),
            InputFields = new List<PopupInputField>
{
new PopupInputField() { ControlGroupClientSideId = "radBtnPublishState", InputFieldType = PopupInputFieldTypeEnum.RadioButtonGroup, InputFieldLabel = null, InputFieldData = HelperMethods.GetAvailablePublishStates(), RequiredNumberOfItemsToDisplay = 2 }
},
            Buttons = new List<PopUpButtonModel>()
{
new PopUpButtonModel { ButtonText = @Admin_Resources.TextProceed, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "BlogNews.prototype.PublishBlogNews(this)" }
}
        };
    }
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.TitleBlogNewsList<span class="total-count"><p>@Model.GridModel.TotalRecordCount</p></span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink(Admin_Resources.ButtonAdd, "AddBlogNews", "BlogNews", null, new { @class = " btn-text btn-text-secondary", @data_test_selector = "linkAddNew", value = "Create XML" })
        </div>
    </div>
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        @using (Ajax.BeginForm("BlogNewsList", "BlogNews", new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
        {
            <div id="filterComponent">
                @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
            </div>
        }
        @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextConfirmDelete,
                ModalPopUpId = "BlogNewsDeletePopUp",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "BlogNews.prototype.DeleteBlogNews(this)"}
                }
            })
        <div class="col-sm-12 list-container">
            @{
                @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
            }
        </div>
    </section>
    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml", publishPopupModel)
</div>
<script>
    $(document).ready(function () {
        $(".z-publish").off("click").on("click", function () { BlogNews.prototype.PublishBlogNewsPopup($(this)); });
    });
</script>