﻿<aside>
    <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
    <div class="slide-container">        
        <ul class="aside-panel" id="searchConfigurationAsidePannel">
            <li class="groupPannel"><a href="/Search/SearchReport/GetTabStructureSearchReport" id="lnkSearchActivityReport" onclick="SearchConfiguration.prototype.SetLinkParamter(this)" data-test-selector="LinkSearchActivity">@Admin_Resources.LabelSearchActivity</a></li>
            <li class="groupPannel"><a href="/Search/Search/GetSearchProfiles" id="lnkSearchProfileList" data-test-selector="LinkSearchProfiles">Search Profiles</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/GetSearchSynonymsList" id="lnkSynonymsList" data-test-selector="LinkSynonyms">@Admin_Resources.TitleSynonyms</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/GetCatalogKeywordsList" id="lnkKeywordsRedirectList" data-test-selector="LinkKeywordsRedirect">@Admin_Resources.TitleKeywordsRedirect</a></li>
            <li class="groupPannel"><a href="/Search/Search/GetBoostAndBuryRules" id="lnkSearchProfileList" data-test-selector="LinkBoost&Bury">@Admin_Resources.TitleBoostAndBury</a></li>
            <li class="groupPannel"><a href="/SearchConfiguration/CreateIndex" id="lnkCreateIndex" data-test-selector="LinkManageIndex">@Admin_Resources.ButtonManageIndex</a></li>
            <li class="groupPannel"><a href="/CMSSearchConfiguration/CreateIndex" id="lnkCreateCmsPageIndex" data-test-selector="LinkManageCmsPageIndex">@Admin_Resources.ButtonCmsPageManageIndex</a></li>
        </ul>
    </div>
</aside>
