﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
    string _isDisplayGuestcheckout = Convert.ToString(Request.QueryString["returnUrl"])?.ToLower() == "~/checkout" ? "checkout-guest" : "checkout-new";
}
<div class="container">
    <div class="row mobile-row">
        <div class="col-xs-12 nopadding login-container">
            <div class="col-xs-12 nopadding">

                <div class="col-xs-12 nopadding inner-container">
                    <div class="col-xs-12 col-sm-12 col-md-5 nopadding">
                        <h1 data-test-selector="lblLoginHeading" class="page-title">@WebStore_Resources.TitleAlreadyUser</h1>
                        <form method="POST" class="login-form form">
                            @Html.AntiForgeryToken()
                            <div class="col-xs-12 col-sm-12 col-md-12 padding-login-container">
                                <div class="form-group">
                                    <div class="col-xs-12 nopadding">
                                        <label data-test-selector="lblLoginUserName" for="login_username" class="required">@WebStore_Resources.ColumnUsername</label>
                                    </div>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        @Html.TextBoxFor(model => model.Username, new { @id = "login_username", @data_test_selector = "txtUserName", @title = WebStore_Resources.ColumnUsername })
                                        <p class="error-msg" data-test-selector="lblUserNameErrMsg">@Html.ValidationMessageFor(m => m.Username, "", new { @data_test_selector = "spnErrUsername" })</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 nopadding">
                                        <label data-test-selector="lblLoginPassword" for="login_password" class="required">@WebStore_Resources.ColumnPassword</label>
                                    </div>
                                    <div class="col-xs-12 left-inner-icon nopadding">
                                        @Html.PasswordFor(model => model.Password, new { @id = "login_password", @data_test_selector = "txtLoginPassword", @title = WebStore_Resources.ColumnPassword })
                                        <p class="error-msg" data-test-selector="lblPasswordErrMsg">@Html.ValidationMessageFor(m => m.Password, "", new { @data_test_selector = "spnErrPassword" })</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 nopadding">
                                    @if (ViewBag.CheckoutLogin != null)
                                    {
                                        @Html.Hidden("returnUrl", "~/Checkout")
                                    }
                                    <a data-test-selector="linkForgetPassword" href="/user/forgotpassword" class="login-form-forgotpassword pull-left" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                                </div>
                                <div class="col-xs-12 nopadding margin-top">
                                    <button data-test-selector="btnLoginButton" type="submit" class="btn-text-login btn-bg-primary" onclick="User.prototype.AppendLoaderOnSubmit()" id="loginButton" title="@WebStore_Resources.ButtonTextLogIn">@WebStore_Resources.ButtonTextLogIn</button>
                                </div>
                                <div class="col-xs-12 margin-top-bottom nopadding">
                                    <div class="col-xs-12 col-sm-6 nopadding styled-input remember-me">
                                        <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                                        <label data-test-selector="lblRememberMe" for="RememberMe">@WebStore_Resources.RememberMe</label>
                                        <input type="hidden" value="false" name="RememberMe">
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class="col-xs-12 col-sm-12 col-md-12 nopadding">
                            @Html.RenderMessage("LoginPageInstructions")
                            @Html.Partial("_ExternalLoginsListPartial")
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-12"></div>
                    <div class="col-xs-12 col-sm-12 col-md-5 nopadding account-signup-container @_isDisplayGuestcheckout">
                        <h2 data-test-selector="lblLoginHeading" class="page-title">@WebStore_Resources.TitleNewCustomer</h2>
                        <div id="layout-account-login">
                            <div class="col-xs-12 col-sm-12 padding-login-container">
                                <p class="margin-bottom">
                                    @WebStore_Resources.TextNewCustomer
                                </p>
                                <a href="/User/Signup/@(!string.IsNullOrEmpty(Request.QueryString["returnUrl"]) ? "?returnUrl=" + Request.QueryString["returnUrl"] : "")" class="btn-text-full btn-bg-blue account-signup-link" data-test-selector="btnGetAnAccount" title="@WebStore_Resources.LinkTextGetAnAccount">@WebStore_Resources.LinkTextGetAnAccount</a>
                            </div>
                           @if (!Convert.ToBoolean(new AuthenticationHelper().IsAuthorizationMandatory()))
                            {
                                <div class="col-xs-12 col-sm-12 nopadding checkout-guest-container">
                                    <h3 data-test-selector="lblLoginHeading" class="page-title">@WebStore_Resources.LinkTextGuestCheckout</h3>
                                    <div class="padding-login-container">
                                        <p class="margin-bottom">@Html.RenderMessage(WebStoreConstants.CheckoutAsAGuestMessage)</p>
                                        <a href="/Checkout?mode=guest" class="btn-text-full btn-bg-border checkout-login-asguest" data-test-selector="linkCheckoutGuest" title="@WebStore_Resources.LinkTextGuestCheckout">@WebStore_Resources.LinkTextGuestCheckout</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
