﻿@import "_base.scss";
// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');src: url('../../Fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Regular.svg') format('svg');src: url('../../Fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../Fonts/Roboto-Medium.ttf') format('truetype');src: url('../../Fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Medium.svg') format('svg');src: url('../../Fonts/Roboto-Medium.woff') format('woff');
}

html, body{
  height:100%;
  font:{
    family:$base-font-family;
    size:$base-font-size;
  }
  color:$text-fgcolor-default;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.nopadding {padding: 0; margin: 0;}     
.required:after {content: ' * '; color:$required-star;}

a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor; 
    &:hover,&:active{outline:medium none;text-decoration:underline;color:$anchor-tag-fgcolor-hover;}
    &:focus{outline: 1px dotted $anchor-tag-fgcolor-hover!important;}
}

h1, h2, h3, h4, h5 {color:$base-color-secondary; font-family:$base-font-family;}
h1, h2 {margin:8px 0; font-size:$base-heading-font-primary;}
h3, h4 {margin:6px 0; font-size:$base-heading-font-mobile - 4;}
h5 {margin:4px 0; font-size:$base-font-size;}

p,ul{margin:0;}
.form-group{float:left;width:100%;margin-bottom:10px;}

label{font-family:$base-font-family-bold;font-weight:normal}
.padding-15{padding:15px;}
.padding-top {padding-top:15px;}
.padding-top-bottom {padding:15px 0;}
.padding-left{padding-left:10px;}
.padding-right{padding-right:10px;}
.padding-left-0{padding-left:0px;}
.padding-left-5{padding-left:5px;}
.padding-right-15{padding-right:15px;}
.padding-bottom{padding-bottom:10px;}
.margin-top {margin-top: 10px;}
.margin-top-bottom {margin-top:15px;margin-bottom:15px;}
.margin-top-bottom-40-home{margin-top: 15px;margin-bottom: 15px;}
.margin-bottom {margin-bottom:15px;}
.margin-top-30{margin-top:30px;}
.margin-home-30{margin-top: -30px;}
.margin-top-50{margin-top:2%;}
.storename{position:absolute;width:1px;height:1px;overflow:hidden;padding:0;left:-1px;clip:rect(0,0,0,0);border:0;}
.well{min-height:20px;padding: 0px;margin-bottom: 0;background-color: transparent;border: none;border-radius: 0px;}
z-widget {display: block;}
#layout-contentpage a,#layout-contentpage a:hover{color:$base-color-Link;}
z-widget-ajax, z-widget-ajax > z-widget, .ajax {
    -webkit-animation: widget-animation 1.0s 1 linear;
    -moz-animation: widget-animation 1.0s 1 linear;
    -ms-animation: widget-animation 1.0s 1 linear;
    -o-animation: widget-animation 1.0s 1 linear;
    animation: widget-animation 1.0s 1 linear;
}
@keyframes widget-animation {
    0% {opacity: 0;}
    60% { opacity: 0.5;}
    100% {opacity: 1;}
}
@-webkit-keyframes widget-animation {
    0% { opacity: 0;}
    60% {opacity: 0.5;}
    100% {opacity: 1; }
}
@-moz-keyframes widget-animation {
    0% {opacity: 0;}
    60% {opacity: 0.5;}
    100% { opacity: 1; }
}

@-o-keyframes widget-animation {
    0% { opacity: 0;}
    60% {opacity: 0.5; }
    100% { opacity: 1;}
}

.min-height-100{min-height:100px;}
.min-height-125{min-height:125px;}
.min-height-150{min-height:150px;}
.min-height-200{min-height:100px;}
.min-height-300{min-height:300px;}

.field-validation-error, .error-msg { color:$error-msg-fgcolor; }
.success-msg { color:$success-msg-fgcolor; }

// Scss for Drew Shoes
.text-danger {color: #F04020;}
.modal-content{border-radius:0px;
   i{font-size:30px;}
}
#Fallundercategory{
    img{float:left;height:auto;padding:0px 0;position:absolute;width:auto;}
     .PDPFallunderImg{margin-left:0px;
                 img{width:170px;position:absolute;z-index:1;}
     }
}
#testinomial {
    height: auto;background: #F5F5F5 0% 0% no-repeat padding-box;width: 100%;
    .revietrst {
        word-spacing: 1.6px;padding: 110px;font-size: $base-heading-font-primary - 4;letter-spacing: 1.5px;text-align: center;
    }
}
// Shadow Efficet
.hvr-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow;transition-property: box-shadow;}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);}

// Checkbox & Redio Button
.styled-input{position:relative;display:inline-block;margin-right:10px;margin-bottom:5px;line-height:1.25;
    input[type=checkbox], input[type=radio]{display:none;
        &:checked~label{
            &:before{border-color:$base-color-secondary;}
            &:after{background-color:$base-color-secondary;margin:4px;height:10px;width:10px;}
        }
        &:before{transition:all .5s ease;border-color:$base-color-secondary;}
    }
    input[type=checkbox]{
        &~label{
            &:after,&:before{border-radius:0px;}
        }
    }
    input[type=radio]{
        &~label{
            &:after,&:before{border-radius:50%;}
        }
    }
    label{text-indent:30px;font-size:$base-font-size;cursor:pointer;font-family:$base-font-family;font-weight:normal;overflow:hidden;text-overflow:ellipsis;
        &:after,&:before{content:'';width:18px;height:18px;border:1px solid transparent;position:absolute;left:0;top:0;transition:all .5s ease;border-width:1px;}
        &:before{transition:all .5s ease;border-color:$base-color-secondary;}
    }
}

// Notification Messages
.notification-msg {z-index: 9;position:absolute;width:90%;
    .alert { position: relative;padding: 6px;line-height: 21px;margin-bottom: 0;border-radius: 0;min-height: 40px;top: 0px;
        .close {margin-top: -18px;opacity: 1;font-size: $base-font-size + 1;
        }
    }
    .alert-danger {border: 1px solid $alert-msg-danger;
        .close {color: $alert-msg-danger;}
    }
    .alert-success { border: 1px solid $alert-msg-success;
        .close {color: $alert-msg-success;}
    }
    .alert-info {border: 1px solid $alert-msg-info;
        .close {color: $alert-msg-info;}
    }
}
#CartUpdateError{position:relative;width:100%}
// help text
.help-text {
    display: inline-block;

    i {
        font-size: $base-font-size + 2;
        line-height: 22px;
        margin-left: 8px;
        color: $base-color-primary;
    }
}

// File Upload
.file-upload {position:relative;
    .file-upload-name{float:left;margin-left:15px;line-height:26px;}
    input[type="file"]{position:absolute;top:0;margin:0;opacity:0;width:70px;min-height:34px;}
    .po-document-details{
        a{cursor:pointer;color:$base-color-primary;padding-right:3px;display:none;float:left;line-height:24px;padding-right:5px;}
        span{float:left;line-height:26px;}
    }
}
.file-upload-btn{position:relative;overflow:hidden;margin-left:0;background:$base-bgcolor-button-primary;}

// Back to top
.back-to-top{position:fixed;bottom:0;right:30px;border-top-left-radius:0px;text-decoration:none;border-top-right-radius:0px;background-color:$base-color-primary;padding:5px 14px;font-size:18px;color:$base-color-white !important;;opacity:0;transition:opacity .3s 0s, visibility 0s .3s;-webkit-transition:opacity .3s 0s, visibility 0s .3s;-moz-transition:opacity .3s 0s, visibility 0s .3s;
    &:hover{color:$base-color-white;opacity:1 !important;text-decoration:none;}
}

// Error Page
.error-page{padding:20px 15px; min-height:450px;}

// Modal PopUp
.modal-header{background-color:$base-color-primary;
        h4{color:$base-color-white;}
        .close {color:$base-color-white;margin-top:5px;}
}
.modal-body,.modal-footer{display:table;width:100%;background-color:$base-color-white;}
.modal-display-block{display:block;
    > div{overflow:auto;}
}
.recommended-address-popup{
    .entered-display-address{border-bottom:1px solid #ddd;margin-bottom: 15px;padding-bottom: 15px;}
    h5{font-size:$base-font-size;color:$base-color-secondary;margin:0;font-weight:bold;}
   .address-details{padding:5px 0;}
   .address-error{color:$base-color-primary;font-weight:bold; }
   .entered-display-address,.recommended-display-addess{.btn-text{margin-left:0;margin:10px 0;}}
}
// store locator css
.adp-placemark{margin-top:0 !important;}
// ToolTip.
.tooltip {font-family:$base-font-family;font-size:11px;position:fixed;z-index:9999;}
.tooltip.in {opacity:1;filter:alpha(opacity=100);}
.tooltip-inner {color:$base-color-white;background-color:#000;opacity:0.8;border-radius:0;}
//Help text
.form-builder{
    .form-group-container{padding:15px 30px 15px 10px !important;}
    .help-text{position:absolute;top:30px;right:-25px;}
}

// General CSS
.star-rating{font-size:$base-font-size-small;cursor:context-menu;
    .zf-star-full,.zf-star-half{color:$base-color-rating;}
    .zf-star-empty{color:$base-color-rating;}
    .full{color:$base-color-rating;}
    i:hover{color:$base-color-rating;}
} 
.sub{font-size:12px;color:#8e8e8e;}

.social-share ul{padding:0; margin:0;float:left;
    li{display:inline-block;}
    i{font-size:26px;color:#787878; cursor:pointer;}
}

//Contact Us
#UsefullLinks{
    ul{padding: 0px;list-style: none;
       li{margin: 10px 0px 10px 0px;
          a{text-decoration: underline;}
       }
    }
}

// store locator css
.store-locator-block{margin:2% 0;
    .store-locator-view{max-height:250px;overflow: auto;padding: 5px;}
    .storeLocationCoordinate{margin-bottom:15px;border-bottom:1px solid $base-color-primary;padding-bottom:10px;}
    .locator-map{padding-right:15px;}
    .btn-width{width:100%;margin:0px;}
    .locator-info-panel{
        .right-side-locator{height:410px;}
        label{margin-top: 8px;float: right;}
    }
}

.position-absolute{position:absolute;}
.display-flex {display: flex;}
.scan-dialog {
    .scan-video-container {
        width: 100%;
        .dbrScanner-video{width:100%;height:80vh;}
    }
    .scan-code-msg{text-align:left;font-weight:bold;font-size:$base-font-size-small;}
}
img[class*="b-lazy"] {
    min-height: 1px;
}
.disabled{
        opacity: 0.5;
        cursor: not-allowed;
}
.text-break {
    word-break: break-word !important; // IE & < Edge 18
    overflow-wrap: break-word !important;
}
#testinomial {background: #F5F5F5 0% 0% no-repeat padding-box;width: 100%;
    .revietrst {word-spacing: 1.6px;padding: 110px;font-size: $base-heading-font-primary - 4;
        letter-spacing: 1.5px;text-align: center;
    }
}

@include screensize(x-small) {
    .navbar-collapse {padding: 0px 5px !important;}
    #mobileMenu{
        .collapse{display:block}
        ul#UserMenuMobile {list-style: none;padding: 5px 10px;line-height: 32px;border-top: 2px solid;}
    }
    #testinomial {
    .revietrst {padding: 60px 20px;font-size: $base-heading-font-mobile - 6;}
}
   
       // For Slider Play Pause and mobileMenu End
       div#search-results {padding: 10px;}
       #Fallundercategory{.PDPFallunderImg{margin-left:0px;}}
    .notification-msg {width:100%;}
    a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor; 
    &:hover,&:active,&:focus{outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor-hover;}
    }
    .store-locator-block{
        .locator-map{padding-right:0px;}
        .locator-info-panel{padding-top:15px;
           label{float:left;}
        }
    }
    .styled-input{
        label{font-size:$base-font-size-small;}
    }
    .mobile-row{margin:0px;}
    .mobil-nopadding{padding:0px;}
    .mobile-display-block{display: block;}
}
@include screensize(xl-small){
    .container{width: 90%;}
    .navbar-collapse {padding: 0px 5px !important;}
    #mobileMenu{
        .collapse{display:block}
        ul#UserMenuMobile {list-style: none;padding: 5px 10px;line-height: 32px;border-top: 2px solid;}
    }
    #testinomial {
    .revietrst {padding: 60px 20px;font-size: $base-heading-font-mobile - 6;}
    div#search-results {padding: 10px;}
    #Fallundercategory{.PDPFallunderImg{margin-left:0px;}}
}
}
@include screensize(small) {
    .store-locator-block{
          .locator-map{padding-right:15px;}
          .locator-info-panel{padding-top:0px;}
    }
    .modal-dialog .modal-body{max-height:600px;overflow:auto;}
    
}

@include screensize(medium) {
    .modal-dialog .modal-body{max-height:none;}
}
@include screensize(x-large){
    .container{width:1715px;}
}

// Utilities File Import.
@import "utilities/_buttons.scss";
@import "utilities/_input.scss";
@import "utilities/_dropdown.scss";
@import "utilities/_grid-filter.scss";
@import "utilities/_loader.scss";

// Widget and Global File Import.
@import "_icons.scss";
@import "widgets/_search.scss";
@import "widgets/_quick-order.scss";
@import "widgets/_subscribe.scss";
@import "widgets/_link-panel.scss";
@import "widgets/_local.scss";
@import "widgets/_typeahead.scss";
@import "widgets/_slider.scss";
@import "widgets/_product-list.scss";
@import "widgets/_quick-view.scss";
@import "widgets/_product-grid.scss";
@import "widgets/_facet.scss";
@import "widgets/_compare-product.scss";
@import "widgets/_datepicker.scss";
@import "widgets/_dynamic-grid.scss";
@import "widgets/_category-list.scss";
@import "widgets/_shipping-progress-bar.scss";
@import "widgets/_form-builder.scss";
