﻿<div class="newsletter-widget margin-top">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <!-- Begin Constant Contact Inline Form Code -->
        <div class="ctct-inline-form" data-form-id="ad5fff52-2d64-4d27-87c6-adbf3ef4a68b"></div>
        <!-- End Constant Contact Inline Form Code -->
    </div>
    @*<div class="col-xs-12 col-sm-12 col-md-12 margin-bottom mobil-nopadding"><p class="small"><span>*</span>&nbsp;@WebStore_Resources.LabelNewslatterRequiredFields</p></div>
    <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
        <div class="form-group">
            <input type="text" class="form-control" id="FirstName" title="@WebStore_Resources.ColumnFirstName" placeholder="@WebStore_Resources.ColumnFirstName">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mobil-nopadding">
        <div class="form-group">
            <input type="text" class="form-control" id="LastName" title="@WebStore_Resources.ColumnLastName" placeholder="@WebStore_Resources.ColumnLastName">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mobil-nopadding">
        <div class="form-group">
            <input type="text" class="form-control" id="CompanyName" title="@WebStore_Resources.ColumnCompanyName" placeholder="@WebStore_Resources.ColumnCompanyName">
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mobil-nopadding">
        @using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {
            <div class="form-group" id="newsletter">
                @Html.TextBox("txtNewsLetterSignUp", "", new { required = "required", title = "Enter Your Email", placeholder = "Email Address *", @data_test_selector = "txtNewsLetterEmail" })
            </div>
        }
        <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 mobil-nopadding">
        <div class="form-group form-check">
            <label class="container-checkbox" title="Yes, please email me periodic promotions">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                @WebStore_Resources.LabelPromotionpara
            </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 mobil-nopadding">
        <div class="form-group">
            <button title="Submit" class="btn btn-default pull-right" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp">@WebStore_Resources.ButtonSubmit</button>
        </div>
    </div>*@
</div>

<!-- Begin Constant Contact Active Forms -->
<script>var _ctct_m = "bc0673b18e069181b9775c317b74bbbe";</script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->