﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" data-id="@productId">
<div class="product-view-details">
    <!--Get Product Images-->
    <div class="col-xs-12 col-md-6 product-images ImgInnerZoom">
        <div class="hidden-lg hidden-md visible-sm visible-xs">
            @Html.Partial("_ProductOverview", Model)
        </div>
        @Html.Partial("_ProductImageZoomEffect", Model)
    </div>
    <!--Get Product details like short decription and higlights-->
    <div class="col-xs-12 col-md-6 product-overview">
        <div class="hidden-xs hidden-sm visible-lg visible-md">
            @Html.Partial("_ProductOverview", Model)
        </div>
        @Html.Partial("_ProductInfo", Model)
    </div>
        @Html.HiddenFor(m => m.IsQuickView, new { @id = "isQuickView" })      
    </div>
</div>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>