﻿
@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Models
@model CartViewModel
<div class="col-sm-12 nopadding cart-promocode">
    <div class="form-group">
        <div class="control-label">
            <label data-test-selector="lblCouponCode">@Admin_Resources.LabelCouponCode</label>
        </div>
        @if (!Equals(Model, null) && !Equals(Model.Coupons, null) && Model.Coupons.Count > 0)
        {
            <div class="control-sm">
                <input type="text" id="promocode" name="Coupon" class="form-input" size="40" value="" maxlength="100" data-test-selector="txtCouponCode" />
            </div>

            <div class="pull-left">
                <button type="button" class="btn-apply margin-left-10" id="btnApplyCoupon" onclick="Order.prototype.ApplyPromoCode(true);" data-test-selector="btnApplyCouponCode">
                    <i class="z-ok"></i>
                </button>
            </div>

            <div id="couponContainer" class="control-non control-lg success-msg" data-test-selector="divCouponCodeStatus">
                @foreach (var item in Model.Coupons)
                {
                    if (item.IsExistInOrder)
                    {
                        <p class="green-color"><b>@item.Code</b> - @item.PromotionMessage</p>
                    }
                }
            </div>
        }
        else
        {
            <div class="control-sm">
                <input type="text" id="promocode" name="Coupon" class="form-input" size="40" maxlength="100" data-test-selector="txtCouponCode" />
            </div>

            <div class="pull-left">
                <button type="button" class="btn-apply margin-left-10" id="btnApplyCoupon" onclick="Order.prototype.ApplyPromoCode(true);" data-test-selector="btnApplyCouponCode">
                    <i class="z-ok"></i>
                </button>
            </div>

            <div id="couponContainer" class="control-non control-lg success-msg" data-test-selector="divCouponCodeStatus"></div>
        }
    </div>
</div>
<div class="col-sm-12 nopadding giftcard-applyagain form">
    <div class="form-group">
        <div class="control-label">
            <label data-test-selector="lblGiftCardNumber">@Admin_Resources.LabelGiftCardNumber</label>
        </div>

        <div class="control-sm">
            <input type="text" id="txtgiftcard" name="giftcard" class="form-input" maxlength="100" data-test-selector="txtGiftCardNumber" />
        </div>

        <div class="pull-left">
            <button type="button" class="btn-apply margin-left-10" id="giftcard-apply" onclick="Order.prototype.ApplyGiftCard();" data-test-selector="btnApplyGiftCard">
                <i class="z-ok"></i>
            </button>
        </div>

        @if (!Equals(Model, null) && !string.IsNullOrEmpty(Model.GiftCardNumber))
        {
            <div id="cart-giftcard-status" class="control-non success-msg control-lg" data-test-selector="divGiftCardStatus">@Admin_Resources.LabelGiftCard : @Model.GiftCardNumber</div>
        }
        else
        {
            <div id="cart-giftcard-status" class="control-non success-msg control-lg" data-test-selector="divGiftCardStatus"></div>
        }

    </div>
    <div id="giftCardMessageContainer"></div>
</div>

<div class="col-sm-12 nopadding CSR-discount form">
    <div class="form-group">
        <div class="control-label">
            <label data-test-selector="lblCSRDiscount">@Admin_Resources.LabelCSRDiscount</label>
        </div>
        
        <div class="control-sm">
            <input type="number" id="txtcsrDiscount" name="csrDiscount" class="form-input" value="" data-test-selector="txtCSRDiscount" />
        </div>
        
        <div class="pull-left">
            <button type="button" class="btn-apply margin-left-10" id="csrDiscount-apply" onclick="Order.prototype.ApplyCSRDiscount();" data-test-selector="btnApplyCSRDiscount">
                <i class="z-ok"></i>
            </button>
        </div>
        
        <div id="csr-discount-status" class="control-non success-msg control-lg" data-test-selector="divCSRDiscountStatus"></div>
    </div>
</div>

<div id="divTaxExemptContainer" class="col-sm-12 nopadding cart-promocode">
    <div class="form-group">
        <div>
            <div class="control-label">
                <label id="spnTaxExempt" data-test-selector="lblTaxExempt">Tax Exempt</label>
                <a id="btnTaxExempt" onclick="Order.prototype.ApplyTaxExempt();" data-test-selector="linkEditTaxExempt"></a>
            </div>

            <div id="containerTaxExempt" class="pull-left">
                <label>
                    <input data-val="true" id="chkTaxExempt" onclick="Order.prototype.OnTaxExemptChecked();" value="true" type="checkbox" data-test-selector="chkApplyTaxExempt">
                    <span id="messageTaxExcempt" class="lbl padding-8" data-test-selector="spnApplyTaxExempt">Make Tax Exempt</span>
                    <input name="chkTaxExempt" value="false" type="hidden">
                </label>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                               new PopupModel()
                               {
                                   Title = @Admin_Resources.ConfirmText,
                                   Description = @Admin_Resources.TaxExemptConfirm,
                                   ModalPopUpId = "PopUpTaxExemptSubmitOrder",
                                   Buttons = new List<PopUpButtonModel>() {
                                   new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, OnClickFunctionName = "Order.prototype.ConfirmTaxExemptOnCreateOrder()" },
                                   }
                               })
</div>
