﻿@model Znode.Engine.WebStore.ViewModels.PortalViewModel

@{
    string tagManagerContainerId = Model.ContainerId;
    bool applyTagManager = Model.IsEnabledTagManager && !string.IsNullOrEmpty(tagManagerContainerId);

    string googleAnalyticsTrackingId = Model.AnalyticsUId;
    bool applyGoogleAnalytics = Model.AnalyticsIsActive && !string.IsNullOrEmpty(googleAnalyticsTrackingId);
}
@if (applyTagManager)
{
    <!-- Google Tag Manager -->
    <script data-cfasync="false" type="text/javascript">
        window.znodeDataLayer = window.znodeDataLayer || [];
    </script>
    <script data-cfasync="false" type="text/javascript" async>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'znodeDataLayer', '@tagManagerContainerId');
    </script>
    <!-- End Google Tag Manager -->
}

@if (applyGoogleAnalytics)
{
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=@googleAnalyticsTrackingId" type="text/javascript" async></script>
    <script type="text/javascript">
        window.znodeDataLayer = window.znodeDataLayer || [];
        function gtag() {
            znodeDataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '@googleAnalyticsTrackingId');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
}
