﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
 @{
     int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div>
    <z-widget>@Html.WidgetPartialAuto("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
    @*<z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>*@
</div>
