﻿@model AutoComplete
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}

<div class="row main-wrapper">
    <div class="container">
        <div class="row quick-order-pad">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title" data-test-selector="lblPageTitle">@WebStore_Resources.HeaderQuickOrderPad</h1>
            </div>
            <div class="col-xs-12 quick-order-page margin-bottom nopadding">
                <input type="hidden" id="hdnQuickOrderPadProductId" name="ProductId" />
                <input type="hidden" id="hdnQuickOrderPadProductName" name="ProductName" />
                <input type="hidden" id="isEnhancedEcommerceEnabled" value=@Helper.IsEnhancedEcommerceTrackingEnabled().ToString() />
                <div class="col-xs-12 col-sm-7 col-md-6 nopadding">

                    @Ajax.ActionLink("Add", "QuickOrder", "Product",
               new AjaxOptions
               {
                   UpdateTargetId = "quickOrderPad",
                   InsertionMode = InsertionMode.InsertAfter,
                   HttpMethod = "GET",
                   OnSuccess = "var lgn = $('[data-autocomplete-url]').length - 1;$('[data-autocomplete-url]:eq(' + lgn + ')').each(function () { autocompletewrapper($(this), $(this).data('onselect-function')); });"
               }, new { @class = "btn-text btn-bg-primary pull-left" , @data_test_selector="btnAddNewSKU" })

                    <div id="quick-order-pad-content" class="col-sm-12 nopadding quick-order-pad-content">
                        <div id="quickorderdiv">
                            @for (int index = 1; index <= Convert.ToInt32(WebStoreConstants.DefaultQuickOrderPadRows); index++)
                            {
                                <div class="form-group" id="form-group-1">
                                    <div class="col-xs-8 col-sm-9 nopadding">
                                        @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrderPad.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @data_test_selector = "txtQuickOrderPadSku", @id = "txtQuickOrderPadSku_" + index, @class = "quick-order-pad-autocomplete", @data_qo_sku = "", @data_qo_product_id = "", data_qo_product_name = "", data_qo_cart_quantity = "", data_qo_quantity_on_hand = "", data_qo_in_stock_message = "", data_qo_out_stock_message = "", data_qo_min_quantity = "", data_qo_max_quantity = "", data_qo_call_for_pricing = "", data_is_first = "true", data_qo_track_inventory = "", data_qo_product_type = "", data_qo_retail_price = "", data_qo_autoAddOnSKUs = "", data_qo_isobsolete = "" } })
                                    </div>
                                    <div class="col-xs-3 col-sm-2">
                                        @Html.TextBox("txtQuickOrderPadQuantity_" + index, 1, null, new { @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = "4", @class = "quantity quick-order-pad-quantity", @parentcontrol = "txtQuickOrderPadSku_" + index, @data_test_selector = "txtQuickOrderPadQuantity" })
                                    </div>
                                    <div class="col-xs-1 nopadding">
                                        <div id="removeRow_@index" class="remove_row remove-item" title="@WebStore_Resources.ButtonClear" style="display: none"><i class="zf-close" data-test-selector="linkDeleteMultipleSKUText"></i></div>
                                    </div>
                                    <p id="inventoryMessage_@index" for="txtQuickOrderPadSku_@index" class="col-xs-12 nopadding error-msg" data-test-selector="lblInventoryMessage"></p>
                                </div>
                            }
                        </div>
                        <div id="quickOrderPad" class="display table table-striped" style="width:100% !important">
                        </div>
                        <div class="col-xs-11">
                            <div class="pull-right">
                                <button type="button" class="btn-text btn-bg-secondary" id="btnQuickOrderClearAll" data-test-selector="btnQuickOrderClearAll">@WebStore_Resources.ButtonClear</button>
                                @if (controllerName == "User" && actionName == "QuickOrderPadTemplate")
                                {
                                    <button type="button" class="btn-text btn-bg-primary quickOrderPadAddToCart" id="btnQuickOrderPad" data-test-selector="btnQuickOrderPadAddToCart">@WebStore_Resources.ButtonAddToTemplate</button>
                                }
                                else
                                {
                                    <button type="button" class="btn-card btn-add-cart btn-bg-primary quickOrderPadAddToCart" id="btnQuickOrderPad" data-test-selector="btnQuickOrderPadAddToCart"><i class="zf-cart" data-test-selector="lblZFCart"></i>@WebStore_Resources.ButtonAddToCart</button>
                                }
                            </div>
                        </div>
                    </div>


                </div>
                @if (controllerName != "User" && actionName != "QuickOrderPadTemplate")
                {
                    <div class="col-xs-12 col-sm-5 col-md-6 quick-order-details">
                        <h3 data-test-selector="lblSaveTimeWithQuickOrder">@WebStore_Resources.LabelSaveTimewithQuickOrder</h3>
                        <p data-test-selector="lblQuickOrderDescription">@WebStore_Resources.QuickOrderDescription</p>
                        <p data-test-selector="lblQuickOrderStepOne">@Html.RenderBlock(WebStore_Resources.QuickOrderStepOne)</p>
                        <p data-test-selector="lblQuickOrderStepTwo">@Html.RenderBlock(WebStore_Resources.QuickOrderStepTwo)</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
