﻿@model WidgetParameter
<div id="link-products" class="product-list-widget">
    @{ Html.RenderAction("GetLinkProducts", "Product", new { productId = Model.CMSMappingId }); }
    <script>InitbLazy();</script>
</div>
<script>
    function clickme(obj, t, c) {
        var r = $("#" + c).attr("Swatch-img"); $("#" + t).attr("src", r)
        $(obj).parent().parent().find("li").removeClass('active');
        $(obj).parent().addClass('active');
    } function out(t, c) { $("#" + t).attr("src", c) }
</script>