﻿@using Znode.Engine.Admin.ViewModels
@model DashboardViewModel

@{
    ViewBag.Title = Admin_Resources.TitleDashboard + " | " + Admin_Resources.Multifront;
}
<div class="col-sm-12 nopadding dashboard-title">
        <div class="col-sm-12 nopadding title-container">
            <h1>DASHBOARD</h1>
            
        </div>
       
    </div>
<div class="col-sm-12 nopadding dashboard-container">
    
    <div class="col-sm-12 nopadding">
        <div class="col-sm-7 nopadding dashboard-grid dashboard-panel">
            <div class="dashboard-panel-heading">
                <h2 class="dashboard-panel-title">Overview</h2>
                <div class="pull-right dashboard-select">@Html.DropDownListFor(model => model.PortalId, Model.Portal, new { @id = "ddlPortal", @OnChange = "Dashboard.prototype.GetSalesDetailsBasedOnSelectedPortal()" })</div>
            </div>
            <div class="col-sm-12 nopadding">
                @{

                    Html.RenderAction("GetDashboardSalesDetails");
                }
            </div>
            <div class="col-sm-12 nopadding dashboard-search" id="TopProducts">
                @{
                    Html.RenderAction("GetDashboardTopProducts");
                }
            </div>
            <div class="col-sm-12 nopadding dashboard-search" id="TopSearches">
                @{
                    Html.RenderAction("GetDashboardTopSearches");
                }
            </div>
            <div class="col-sm-12 nopadding dashboard-search" id="TopBrands">
                @{
                    Html.RenderAction("GetDashboardTopBrands");
                }
            </div>
        </div>

        <div class="col-sm-5 nopadding dashboard-quicklinks">
            <div class="col-sm-12 dashboard-quicklinks-content">
                <h2>Quick Links</h2>
                <ul>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-oms'></i></div>" + "Orders", "List", "Order", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-quote'></i></div>" + "Quotes", "QuoteList", "Quote", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-return'></i></div>" + "Returns", "List", "RMAReturn", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-stores'></i></div>" + "Stores", "List", "Store", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-PIM'></i></div>" + "Products", "List", "Products", new { area = "PIM" }, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-reports'></i></div>" + "Reports", "Index", "MyReports", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-customers'></i></div>" + "Customers", "CustomersList", "Customer", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks '><i class='z-media-manager'></i></div>" + "DAM", "List", "MediaManager", new { area = "MediaManager" }, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-seo'></i></div>" + "SEO", "SEOSetting", "SEO", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-contents'></i></div>" + "Content Pages", "ContentPageList", "Content", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-marketing'></i></div>" + "Marketing", "List", "Promotion", null, null)
                    </li>
                    <li class="list-unstyled">
                        @Html.AuthorizedRawActionLink("<div class='quicklinks'><i class='z-CMS'></i></div>" + "CMS", "List", "Theme", null, null)
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 nopadding dashboard-alerts" id="LowInventoryCount">
                @{
                   // Html.RenderAction("GetDashboardLowInventoryProductCount", new { portalId = Model.PortalId });
                }
            </div>
            <div class="col-sm-12 nopadding dashboard-license">
                @{
                    Html.RenderAction("GetLicenseInformation", "License");
                }
            </div>

        </div>
    </div>
</div>