﻿@model Znode.Engine.Admin.ViewModels.BrandListViewModel
@using Znode.Engine.Admin.Models
@using Znode.Libraries.Resources
@{
    ViewBag.Title = Admin_Resources.TitleStoreAndReps + " | " + Admin_Resources.Multifront;
}

<div id=@Model.GridModel.FrontObjectName>
    <div class="col-sm-12 title-container">
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelStore)<i class="z-minus"></i><span>@Model.PortalName</span></h1>
        <div class="pull-right btn-container">
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonBack, "List", "Store", null, new { @class = "btn-text-icon", @data_test_selector="linkBack" })
            <div class="pull-right padding-left">
                @Html.AuthorizedPrototypeRawActionLink(Admin_Resources.LabelAssociateBrand, "GetUnAssociatedBrandList", "Store", new { @class = "btn-text btn-text-secondary", @id = "addStoreTaxClass", onclick = "ZnodeBase.prototype.BrowseAsidePoupPanel('/Store/GetUnAssociatedBrandList?portalId=" + Model.PortalId + "','DivGetUnAssociatedBrandListForStore')", @data_test_selector = "linkAssociateBrand" })
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <!--Left Panel-->
        @Html.Partial("~/views/store/_asidestoremanagepanel.cshtml")
        <!--Main Container-->
        <section class="main-container">
            <div>
                @Html.Hidden("hdnEnableDisableActionURL")
                @Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
                    new PopupModel()
                    {
                        Title = @Admin_Resources.HeaderDelete,
                        Description = @Admin_Resources.TextConfirmDelete,
                        ModalPopUpId = "StoreBrandDeletePopup",
                        Buttons = new List<PopUpButtonModel>() {
                            new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk,ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Store.prototype.UnAssociatePortalBrand(this)" },
                           }
                    })
                @Html.HiddenFor(x => x.PortalId)
            </div>
            @using (Ajax.BeginForm("BrandList", "Store", new { @PortalId = Model.PortalId }, new AjaxOptions() { UpdateTargetId = @Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </section>
    </div>
</div>
<div id="DivGetUnAssociatedBrandListForStore" class="aside-popup-panel modal-dialog modal-lg"></div>
<script>
    $(document).ready(function () {
        EditableGridEvent.Init();
        if ($("#hid_DataSeparationAllowedforAppType").val() == "true") {
            $("#Dynamic_Grid").find("#DisplayOrder").parents('li').remove();            
        }
        $(".input-text").change(function () {
            validateForm = Store.prototype.ValidatePortalBrandDisplayOrderField(this);
        });
    })
</script>
